* {
    box-sizing: border-box;
    text-align: center;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.pontos {
    display: flex;
    justify-content: space-around;
}

.maos {
    display: flex;
    justify-content: space-between;
}
#mao-jogador {
    transform: rotateY(180deg);
}

.buttons {
    display: flex;
    justify-content: center;
}
.buttons button {
    width: 100px;
    padding: 5px;
    margin: 5px;
}

@media (max-width: 650px){
    .maos img {
        width: 200px;
    }
}
@media (max-width: 420px){
    .maos img {
        width: 50%;
    }
    .pontos {
        flex-wrap: wrap;
    }
    .pontos h2 {
        width: 100%;
    }
}
